./countries/Allstar.pyc
./countries/Argentina.pyc
./countries/Belgium.pyc
./countries/Brazil.pyc
./countries/Chile.pyc
./countries/Croatia.pyc
./countries/England.pyc
./countries/France.pyc
./countries/Germany.pyc
./countries/Holland.pyc
./countries/Italy.pyc
./countries/Japan.pyc
./countries/Korea.pyc
./countries/Portugal.pyc
./countries/Spain.pyc
./countries/Uruguay.pyc
